.hemiplegia {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.hemiplegia h1{
    margin: 40px 30px;
    font-size: 27px;
}
.hemiplegia img{
    width: 1000px;
    height: 400px;
    border-radius: 25px;
    margin: 20px 2px ;
}
.hemiplegia p {
    font-size: 18px;

}
.hemiplegia p,
.hemiplegia h2{
    text-align: justify;
    line-height: 1.6;
    margin: 20px;

}
.Links{
    text-align: left;
}
.Links div a{
    color: #4c6faf;    
}
.link-item {
    margin-bottom: 40px; 
    margin-left: -600px;
}
.hemiplegia .support{
    margin-left: -500px;
}
.contact-for-support {
    cursor: pointer;
    margin: 30px 482px 20px 50px;
    width: 220px;
    font-weight: bold;
    color: black;
    line-height: 60px;
    background-color: rgb(226, 214, 238);
    border-radius: 8px;
    border: 1px solid #4c6faf;
    box-shadow: 0 10px 15px #5274b3;
    transition: all 0.2s;
    font-size: 18px;
    margin-left: -550px;
}

